button {
   margin-top: 1%;
   font-weight: bold;
   text-align: center;
}

.card-header {
   background-color: #cb9a70;
   color: white;
   font-weight: bold;
   font-size: 25px;

}

#card-title {
    padding-top: 1%;
}

form {
    width: 80%;
    margin-left: 10%;
}

button {
    width: 10%;
    height: 40px;

}
   

#search-button {
    font-weight: bold;
}